body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
    background-image: url(`images/diner.jpg`);
} 

header{
    background-image: url(`images/diner.jpg`);
    background: greenyellow;
    padding: 20px 40px;
    
}    


.container {
    
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    


}